<ul>
    {% for node in branch.children %}
        <li id="{{ node.id }}">
            {#<a href="{{ admin.generateObjectUrl('edit', node) }}">{{ node }}</a>#}
            <a href="{{ admin.generateObjectUrl('move', node) }}">{{ node }}</a>
            {% if node.children|length > 0 %}
                {% include "SonataAdminBundle:CRUD:list_tree_branch.html.twig" with { 'branch': node } %}
            {% endif %}
        </li>
    {% endfor %}
</ul>