{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonataadmin/jstree/jquery.jstree.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/jstree/jstree_trigger.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/jstree/themes/classic/style.css') }}" type="text/css" media="all" >
{% endblock %}

{% block list_table %}
    {% if roots > 0 %}
        <section class="jstree">
            <ul>
                {% for root in roots %}
                    <li class="jstree-open">
                        <a href="">{{ root }}</a>
                        {% include "SonataAdminBundle:CRUD:list_tree_branch.html.twig" with { 'branch': root } %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}